* {
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(3, 3, 3);
  background-color: white;
  /* border: 3px solid #496b4d; */
}

.style-guide-menu {
  display: flex;
  justify-content: center;
  background-color: #227a02;
  padding: 0.1rem;
  margin: 0 auto;
}

.website-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #175700;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0 1rem;
}

.nav-box-styling {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.shop-products-nav{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items:baseline;
  margin:0;
}
.shop-nav-box{
  display:block;
  background-color: #b9d5bc;
  padding:1rem;
  border-radius:10px;
  /* margin-left:5rem; */
}
.shop-products-nav ul li{
  /* display:block; */
  position:relative;
}
.shop-products-nav ul{
  display:none;
}
.shop-products-nav h2:hover ul{
  display:block;
}


.footer-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #175700;
  position: absolute;
  left: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap:wrap;
}

.product-list {
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  align-content:flex-end;
  /* padding: 10px; */
  height: 100%;
}
.homepage-product{
  display: flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items: center;
  /* padding: 10px; */
  height: 100%;
}


.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.product-info h2 {
  margin-top: 0;
  /* text-align: left;  */
  margin-bottom: 2rem; /* Pushes the h2 element to the top */
  margin-right: 1rem;
}

.product-image-item{
  display:flex;
  flex-direction:column;
}

.product-container{
  display:flex;
  flex-wrap:wrap;
}
.bestseller-block {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 20px;
  margin: 2rem;
  padding: 1rem;
  width: 75%;
}

.explore-list {
  display: flex;
  justify-content: left;
}

.explore-box {
  display: flex;
}

.color-box {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.checkout-together{
 display: flex;
 justify-content: space-between;
}

.complete-form{
 margin: 0 3em 5em;

}

.checkout-headings{
 text-align: right;
 padding-right: 3em;

}

div.checkout-headings h2{
  margin-bottom: 0.3rem;
}

div.checkout-headings h3{
  margin-bottom: 3rem;
  margin-top: 0.4rem;
}

.checkout-cart-payment {
  display: flex;
  justify-content: flex-end;
  color: white;
  display: inline-block;
  background-color: #638b68;
  text-decoration: none;
  padding: 0 2em 2em;
  width: 600px;
}

@media (max-width:1040px){
  .checkout-cart-payment{
    width:400px;
  }
}

@media (max-width:840px){
  .checkout-cart-payment{
    width:260px;
  }
}

@media(max-width:730px){

  .checkout-cart-payment{
    width:260px;
  }
  
  .checkout-listing{
    margin: 1em;
    
  }

  .checkout-together{
    flex-wrap: wrap;
  }

  .checkout-cart-payment{
    width:500px;
  }
}

.checkout-listing{
  display:flex;
  flex-wrap: wrap;
  padding-left: 3em;
  gap:3em;

}

.checkout-product{
  border-radius: 50px;
  max-width: 20rem;
  max-height:25rem;
  background-color: #175700;
}

div.checkout-product h3{
  display: flex;
  text-align: center;
  margin: 0;
  
}

.cart-summary {
  display: inline-block;
  text-decoration: none;
  margin: 3em;
}

.nav-item {
  margin-right: 20px; /* Increase margin between items */
  margin-bottom: 5px; /* Increase margin between rows */
  margin-top: 5px;
  align-self: center;
  /* border: solid 6px white; */
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  border-radius: 5px;
}

@media screen and (min-width: 40em) {
  .block1 {
    order: 1;
  }
  .block2 {
    order: 2;
  }
  .block3 {
    order: 3;
  }
  .block4 {
    order: 4;
  }
  .block5 {
    order: 5;
  }
  .block6 {
    order: 6;
  }

  .color-block1 {
    order: 1;
  }
  .color-block2 {
    order: 2;
  }
  .color-block3 {
    order: 3;
  }
  .color-block4 {
    order: 4;
  }
  .color-block5 {
    order: 5;
  }
  .color-block6 {
    order: 6;
  }
  .color-block7 {
    order: 7;
  }
  .color-block8 {
    order: 7;
  }
  .checkout-block1 {
    order: 1;
  }
  .checkout-block2 {
    order: 2;
  }
}
@media screen and(max-width: 670px) {
  /* .shop-nav-box{
    margin:0;
  } */
}
