*{
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: rgb(3, 3, 3);
  background-color: white;
  /* border: 3px solid #496b4d; */
}

.website-header {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20rem;
  color:#175700;
}

.nav-box-styling {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
} 

.footer-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #5a855f;
  position:absolute;
  left:0;
  width:100%;
}

.product-list{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.color-box{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.checkout-cart-payment{
  display: inline-block;
  margin: 3rem;
  text-decoration: none;
}

.cart-summary{
  display: inline-block;
  margin: 3rem;
  text-decoration: none;
}

.nav-item {
  margin-right: 20px; /* Increase margin between items */
  margin-bottom: 5px; /* Increase margin between rows */
  align-self:center;
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  color: rgb(197, 221, 204);
}

@media screen and (min-width: 40em){
    .block1{
        order:1;
    }
    .block2{
        order:2;
    }

    .color-block1{
      order:1;
    }
    .color-block2{
      order:2;
    }
    .color-block3{
      order:3;
    }
    .color-block4{
      order:4;
    }
    .color-block5{
      order:5;
    }
    .color-block6{
      order:6;
    }
    .color-block7{
      order:7;
    }
    .color-block8{
      order:7;
    }
    .checkout-block1{
      order:1;
    }
    .checkout-block2{
      order:2;
    }

}
