* {
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(3, 3, 3);
  background-color: white;
  /* border: 3px solid #496b4d; */
}
.style-guide-menu {
  display: flex;
  justify-content: center;
  background-color: #227a02;
  padding: 0.1rem;
  margin: 0 auto;
}

.website-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #175700;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0 1rem;
}

.nav-box-styling {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #175700;
  position: absolute;
  left: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap:wrap;
}

.product-list {
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  align-items: center;
  /* padding: 10px; */
  height: 100%;
}
.homepage-product{
  display: flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items: center;
  /* padding: 10px; */
  height: 100%;
}


.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.product-info h2 {
  margin-top: 0;
  /* text-align: left;  */
  margin-bottom: 2rem; /* Pushes the h2 element to the top */
  margin-right: 1rem;
}

.bestseller-block {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 20px;
  margin: 2rem;
  padding: 1rem;
  width: 75%;
}

.explore-list {
  display: flex;
  justify-content: left;
}

.explore-box {
  display: flex;
}

.color-box {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.checkout-cart-payment {
  display: inline-block;
  margin: 3rem;
  text-decoration: none;
}

.cart-summary {
  display: inline-block;
  margin: 3rem;
  text-decoration: none;
}

.nav-item {
  margin-right: 20px; /* Increase margin between items */
  margin-bottom: 5px; /* Increase margin between rows */
  margin-top: 5px;
  align-self: center;
  /* border: solid 6px white; */
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  border-radius: 5px;
}

@media screen and (min-width: 40em) {
  .block1 {
    order: 1;
  }
  .block2 {
    order: 2;
  }
  .block3 {
    order: 3;
  }
  .block4 {
    order: 4;
  }
  .block5 {
    order: 5;
  }
  .block6 {
    order: 6;
  }

  .color-block1 {
    order: 1;
  }
  .color-block2 {
    order: 2;
  }
  .color-block3 {
    order: 3;
  }
  .color-block4 {
    order: 4;
  }
  .color-block5 {
    order: 5;
  }
  .color-block6 {
    order: 6;
  }
  .color-block7 {
    order: 7;
  }
  .color-block8 {
    order: 7;
  }
  .checkout-block1 {
    order: 1;
  }
  .checkout-block2 {
    order: 2;
  }
}
