@font-face{
    font-family: "Monteserrat";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face{
    font-family: "NeueHaas";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/NeueHaasDisplayBlack.ttf);
}
@font-face{
    font-family: "NeueHaas";
    font-weight: normal;
    font-style: italic;
    src: url(../fonts/NeueHaasDisplayBlackItalic.ttf);
}
@font-face{
    font-family: "NeueHaas";
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/NeueHaasDisplayMediu.ttf);
}
@font-face{
    font-family: "NeueHaas";
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/NeueHaasDisplayBoldItalic.ttf);
}

@font-face{
    font-family: "NeueHaas";
    font-weight: lighter;
    font-style: italic;
    src: url(../fonts/NeueHaasDisplayLightItalic.ttf);
}

@font-face{
    font-family: "NeueHaas";
    font-weight: lighter;
    font-style: normal;
    src: url(../fonts/NeueHaasDisplayLight.ttf);
}