/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: "NeueHaas", Arial;
  font-style: normal;
  margin: 0.5rem;
  font-size: 1em;
  /* padding: 1rem; */
  background-color:white;
  line-height: 1.5;
  color:#175700;
}
.web-info{
  padding: 1rem;
}

.textfont {
  font-family: "NeueHaas";
  font-style: lighter;
  color: white;
}

.element {
  padding-bottom: 1rem;
  border-top-width: 0.15rem;
  border-top-style: dashed;
  border-top-color: black;
}

.nav-main-item {
  display: inline-block;
  color: #175700;
  text-decoration: none;
  padding: 0.25rem 0.25rem;
  margin:2px;
  transition: background-color 0.5s ease-out;
}
.sg-nav-item{
  background-color: #227a02;
  color:white;
  border-radius: 5px;
  align-self: center;
}

.nav-main-item:hover,.nav-main-item:focus {
  background-color: #91b38e;
  color:white;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}


.shop-nav-link{
  align-self: center;
  font-size:1rem;
  text-decoration: none;
  color: #175700;
  font-weight:bold;
}

.cart-summary{
  display: inline-block;
  background-color: #638b68;
  color: #175700;
  text-decoration: none;
  padding: 1rem 1rem;
  transition: background-color 0.5s ease-out;
}

.product-list-item {
  display: inline-block;
  background-color: #175700;
  padding: 1rem 1rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  margin: 1rem;
  max-width: 400px;
  max-height:420px;
  border-radius: 1rem;
}

.product-list-item:hover, .product-list-item:focus{
  background-color:rgba(0, 0, 0, 0.15);
  border: 3px solid white;
}

.explore-item {
  display: inline-block;
  background-color: #175700;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  margin: 1rem;
  width: 300px;
  height: 400px;
  border-radius: 1rem;
  flex: 0 0 auto;
  margin: 0 1rem;
  display: inline-block; /* Displays items in a line */
  overflow: hidden; /* Hide any overflowing content */
}

.explore-list-img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.explore-list {
  overflow-x: auto;
}

.explore-container {
  width: 100%;
  overflow-x: auto;
}

.explore-box {
  display: flex;
  white-space: nowrap; /* Prevents items from wrapping */
}

footer {
  background-color: #175700;
  color: white;
}

.footer-column {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction:row;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li:not(.li-first-object, .ddm-link) {
  /* margin-bottom: 5px; */
  margin-left: 1rem;
}
.ddm-link{
  padding-right:3rem;
}

h1{
  font-size: 5em;
}

h2:not(.section-heading, .special-headers) {
  margin-top: 3rem;
  font-size: 2.5em;
}
.special-headers{
  color: white;
}
 .product h2:hover{
  color: black;
 }

.see-more-link{
  color:#638b68;
  font-weight: bold;
  /* background-color: #638b68; */
  text-decoration: none;
  /* border-radius: 10px;
  padding: 0.2rem; */
}
.product {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style:normal;
}

.figcaption {
  font-size: 0.5rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 10px;
  align-content: left;
  font-size: 1.5em;
}


h4 {
  font-family: "Prompt";
  margin-bottom: 0.2rem;
}
.code {
  font-weight: normal;
}

p {
  margin-top: 0;
  max-width: 100%;
  line-height: 1.5;
}

.citations-box{
  max-width: 50rem;
}


code {
  background-color: #eee;
  padding: 0.5rem;
  display: block;
}

section {
  margin: 1rem;
}

input {
  font-family: "Monteserrat", Arial;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  background-color: #b9d5bc;
  border: 1px solid #b9d5bc;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input:hover,input:focus,input:active {
  color: #175700;
  background-color: #d3ecdc;
  border: 1px solid #d3ecdc;
}
label {
  color: #496b4d;
  font-size: 1rem;
}

label:hover,label:focus,label:active {
  color: #175700;
}
::placeholder {
  color: #175700;
  opacity: 1;
}



/* i found out how to implment the placeholder code from: https://www.w3schools.com/howto/howto_css_placeholder.asp */
/* 
  INTERACTIVE ELEMENTS -------------------
*/
a:not(.see-more-link, .nav-item, .shop-nav-link) {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: rgb(128, 167, 102);
}

img:not(.product-list-img, .banner-img, .clean-img, .explore-list-img) {
  width: 400px; /* Set the desired width */
  height: 400px; /* Set the desired height */
  border-radius: 1rem; /*put this for all buttons and navbar*/
  border: 4px solid turquoise;
}

.banner-img {
  /* width: calc(100% + 4rem); Add the desired padding value to the width */
  /* margin-left: -2rem; Adjust the negative margin to offset the added width */
  width:100%;
  
}

.banner-section{
  margin:0;
}

.banner-figure{
  margin:0;
  position: relative;
  display: inline-block;
}
.banner-caption {
  position: absolute; /* Position the caption relative to the parent figure */
  top: 0; /* Position the caption at the top */
  left: 0; /* Position the caption at the left */
  /*background-color: rgba(18, 88, 134, 0.1); /* Add a semi-transparent background to the caption */
  /* border: 1px solid transparent; */
  color: white; /* Set the color of the caption text */
  padding: 20px; /* Add padding to the caption */
  width: 100%; /* Set the width to match the parent figure */
  font-size:2.7rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.product-list-img{
  width: 250px; 
  height: 250px; 
}

.product-list {
  display: flex;
}

.product {
  display: flex;
}

.image-container {
  flex: 1;
  margin-right: 20px; /* Adjust spacing between image and text */
}

.text-container {
  flex: 1;
}

.clean-img {
  max-width: 100%;
  height: auto;
}
/* ----------- DROP DOWN MENU ----------- */
.arrow {
  border: solid #175700;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left:0.5rem;
  margin-bottom:0.5rem;

}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* LINK TO SOURCE WHERE I LEARNED HOW TO CREATE THIS: https://www.w3schools.com/howto/howto_css_arrows.asp */

 /*--------- CONTACT-US FORM CSS --------*/

.contact-container{
  max-width: 600px;
  margin: 1rem auto;
  padding:1rem;
  border: 2px solid #638b68;
  border-radius:15px;
  background-color: white;
}
.form-group {
  margin-bottom: 20px;
}.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 150px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Media query for smaller window width */
@media (max-width: 70em) {
  .product {
    flex-direction: column;
  }

  .text-container {
    margin-top: 20px; /* Adjust spacing between image and text when stacked */
  }
}


img:hover:not(.banner-img),img:focus:not(.banner-img),img:active:not(.clean-img, .banner-img) {
  /* border: 1.5px solid orangered; */
  filter: drop-shadow(5px 5px 10px #496b4d);
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #227a02;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 15px;
  margin:1rem;
  align-self: flex-end; /* Align the button to the right side */
  justify-content: center;
  margin-top: auto; /* Pushes the button to the bottom */
}

.button-nav:hover,
.button-nav:focus {
  background-color: #c5dcc2;
}


.color-rectangles {
  display: flex;
}

.color-rectangle {
  width: 300px;
  height: 200px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: darkgreen;
}

.color-rectangle p {
  margin: 0;
  color: darkgreen;
}

.left-align{
  text-align: left;
}

table{
  color:white;
}

.cart-summary table tr td:first-child {
  padding-right: 1rem;
}

@media (max-width: 1000px){
  .product-list-item{
    max-width: 300px;
  }
  img:not(.banner-img){
    max-width: 300px;
    max-height: 300px;
  }
  .textfont{
    font-size:1rem;
  }
  .citations-box{
    font-size: 0.5rem;
  }
  .art-direction-img{
    max-width: 200px;
  }

  .bestseller-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bestseller-block .product-info {
    margin-top: 1em;
  }

  .explore-item{
    max-width: 300px;
    max-height: 350px;
  }

  .block-zero{
    order:1;
  }
  .block-one{
    order:2;
  }
  .block-two{
    order:3;
  }
  .block-three{
    order:4;
  }
  .block-four{
    order:5;
  }
  .block-five{
    order:6;
  }
  ul li:not(:last-child, .citations-list, .shop-nav-link, .ddm-link)::after {
    content: "|";
    /* margin: 1rem; */
    padding:1rem;
    padding-right: 0;
  }
  .product-list-item img{
    width:200px;
    height:200px;
    padding:1rem;
  }

}


@media(max-width: 750px){

  section#product-listing h2{
    font-size: 1.5rem;
  }
  .shop-nav-link{
    font-size:0.8rem;
  }

  section#explore-products h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1rem;
  }

  p:not(.banner-caption){
    font-size: 0.9rem;
  }

  .banner-caption{
    font-size:1.7rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .website-header{
    margin-left: 8rem;
  }

  /* .block-three{
    display: none;
  } */
  .product-list-item{
    max-width: 250px;
  }
  img:not(.banner-img){
    max-width: 200px;
    max-height: 200px;
  }
  .citations-box{
    font-size: 0.5rem;
  }
  .art-direction-img{
    max-width: 200px;
  }

  .bestseller-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bestseller-block .product-info {
    margin-top: 1em;
  }

  .explore-item{
    max-width: 250px;
    max-height: 300px;
  }

  .nav-main-item{
    font-size: 0.9em;
  }
  .product-list-item img{
    width:200px;
    height:200px;
    padding:1rem;
  }
  .product-list-item figure{
    margin-left:0;
  }
  .button-nav{
    padding:0.4rem;
    border-radius:15px;
    margin:0;
    align-self:center;
  }
}


@media (max-width:670px){
  /* .nav-main-item{
    display: none;
  } */
  section#product-listing h2{
    font-size: 1.5rem;
  }
  
  .shop-nav-link{
    font-size:0.6rem;
  }

  .shop-products-nav{
    flex-direction:column;
  }

  section#explore-products h2{
    font-size: 1.5rem;
  }

  p{
    font-size: 0.8rem;
  }

  .explore-item{
    max-width: 200px;
    max-height: 250px;
  }
  .banner-caption{
    font-size:1.4rem;
  }
  .product-list-item img{
    width:150px;
    height:150px;
  }
  .product-list-item figure{
    margin-left:0;
  }
  .form-group textarea {
    height: 100px;
}
  
}

@media (max-width:580px){
  /* div.product-info p{
    display: none;
  } */

  section#product-listing h2{
    font-size: 1.3rem;
  }

  section#explore-products h2{
    font-size: 1.3rem;
  }

  .explore-item{
    max-width: 150px;
    max-height: 200px;
  }

  div.explore-box h3{
    font-size: 0.6rem;
  }

  div.explore-box p{
    font-size: 0.6rem;
  }

  .footer-box{
    font-size: 0.7rem;
  }

  .banner-caption{
    font-size:0.9rem;
  }

}

.text-align-center{
  text-align:center;
  max-width:100%;

}