body {
    background: black;
    color: white;
    font-family: "Raleway";
    font-weight: 200;
    padding: 2rem;
  }

p{
  max-width: 40rem;

}


h1{
  font-family: Orbitron;
  font-weight: 700;
  max-width: 50%;
}

h2{
  font-family: 'Raleway';
  font-weight: 700;
  max-width: 50%;
}

h3{
  font-family: 'Raleway';
  font-weight: 600;
  max-width: 50%;
}

h4{
  font-family: 'Raleway';
  font-weight: 400;
  max-width: 50%;
}

ol{
  max-width: 40rem;
}
  
  .element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: white;
  }

  .link-button{
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.5rem;
  }

  .link-button:hover, .link-button:focus, .link-button:active{
    background-color:white;
    color: #ff6600;
    border: 3px, none, #ff6600;
    transition: background-color 0.5s ease-out;


  }

  input {
    padding: 5px;
    border: 2px solid #ff6600;
    border-radius: 5px;
    color:#ff6600;
  }

  .button-submit{
    background-color: white;
    color:black;
  }

  .button-submit:hover, .button-submit:focus, .button-submit:active{
    background-color:#ff6600;
    color:white;
    transition: background-color 0.3s ease-out;
  }

  .button-reset{
    background-color: white;
    color:black;
  }

  .button-reset:hover, .button-reset:focus, .button-reset:active{
    background-color:#ff6600;
    color: white;
    transition: background-color 0.3s ease-out;
  }

  .radio-label:hover, .radio-label:focus, .radio-label:active{
    color:#ff6600;
  }

  .image-link{
    display: inline-block;
    position: relative;
  }

  .image{
    border: 1px solid #ff6600;
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.5s ease-out;
  }

  .text-align-center{
    text-align:center;
    max-width:100%
  }

  a img{
    max-width:100%;
    max-height:auto;
    border: 1px, solid, darkgreen;
  }
  
  a:hover .image,
  a:focus .image,
  a:active .image {
    filter: brightness(40%);
  }

  .product {
    position: relative;
    flex: 1 1 auto;
    max-width: 100%; 
    max-height: 45rem;
    
    border-radius: 20px;
    color: white;
    text-align: center;
    line-height: 200px;  
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    position: absolute;
    top: 50%;
    left: 50%;
    color:white;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.product:hover .product-name {
    opacity: 1;
}

.color-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;  
  gap: 20px;
  max-width: 50rem;
  max-height: 50%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  gap: 20px;
  width:100%;
  max-width: 100%;
}

@media (min-width: 1000px) {
  .product {
    max-width: calc(25% - 20px);
  }
}

@media (max-width: 999px) {
  .product {
    max-width: calc(50% - 20px);
  }
}

.product-details {
  display: flex;
  flex-direction: column;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-container {
  flex: 1;

}

.description-container{
  flex: 1;
  padding: 1rem 0;
}

@media (max-width: 999px) {
  .details-container {
      flex-direction: column;
  }
}

@media (max-width: 999px){
  .description-container{
    padding: 0;
  }
}

.checkout-page {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

.checkout-product-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  align-items: flex-start; 
}

.checkout-product {
  flex: 1 0 30%; 
  max-width: 20rem;
  max-height: 30rem;
  border: 1px, solid, #ff6600;
}

.checkout-product img {
  max-width: 100%; 
  height: auto; 
}

.checkout-section {
  flex: 1;
  background-color:#111111;
  padding: 20px;
}

@media (max-width: 999px) {
  .checkout-page {
      flex-direction: column;
  }

  .product-section {
    flex-direction: column;
    align-items: center; 
}

.product {
    width: 100%;
}
}

